.container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh; /* 必要に応じて高さを調整 */
}

.reset-button {
  font-size: 1.2rem;
  color: #fff;
  background-color: #007bff;
  border: none;
  border-radius: 5px;
  padding: 10px 20px;
  cursor: pointer;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  transition: transform 0.2s, background-color 0.3s;
}

.reset-button:active {
  background-color: #0056b3;
  transform: scale(0.95);
}
